.new-main
  .new-box
    .new-box__titlle
      編集
    .new-box__items
      = form_for @item,url: ("/items/#{@item.id}/update"), class:'new_item' do |f|
        .new-picture
          = f.fields_for :images do |image|
            .new-picture__btn
            = image.file_field :image, class: 'file-box'
            .caution
              画像は改めて選択しない場合前回のものが登録されます
        .new-information
          .new-information__left
            .new-information__left__name
              = f.text_field :item, class: "new-select", placeholder: "酒名", type: "text"
            .new-information__left__liquor
              = f.collection_select( :liquor_id, Liquor.all, :id, :name, {prompt: "種類"}, {class: 'new-select'})
            .new-information__left__place
              = f.collection_select( :place_id, Place.all, :id, :name, {prompt: "産地"}, {class: 'new-select'})
          .new-information__right
            .new-information__right__taste
              = f.collection_select( :taste_id, Taste.all, :id, :name, {prompt: "味"}, {class: 'new-select'})
            .new-information__right__alcohol
              = f.collection_select( :alcohol_id, Alcohol.all, :id, :name, {prompt: "アルコール度数"}, {class: 'new-select'})
            .new-information__right__yobi
          .new-information__text
            = f.text_area :text, class: 'new-remarks', placeholder: '備考'
            = f.submit "編集完了",class:'new-form-btn'