!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ばっかす
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.header
    = image_tag "beer.png", class: "header__img" do
      .header__tittle
        ばっかす
    = yield
    %footer
      %p
        © ばっかす 2019
